@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-custom-dark {
    background-image: linear-gradient(312deg, #0C0C0C 0%, #2C4550 100%);
  }
  .gradient-custom-light {
    background-image: linear-gradient(312deg, #ffffff 0%, #2C4550 100%);
  }
  .footer-gradient{
    background: radial-gradient(2632.99% 141.42% at 0.00% -0.00%, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.56) 100%);
    backdrop-filter: blur(25px);
  }


}